.audio-capture-dialog-box {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 24em;
    width: 80%;

    background-color: #362a2a;
    box-shadow: 2px 2px 2px #000000;
    color: #666666;
    margin: auto;
    padding: 0.4em 0.4em 0.4em 0.4em;

    .container {
        flex: 1 1 auto;
        overflow: hidden;
        padding-bottom: 0.2em;
        width: 100%;

        .volume-meter {
            display: flex;
            flex-direction: row;
            align-items: center;

            .icon {
                flex: 0 1 auto;
                font-size: 2em;
                width: 0.75em;
                line-height: 100%;
                margin: 0em 0.2em 0em 0.2em;
            }

            .bar-container {
                flex: 1 1 auto;
                margin: 0.2em 0 0.2em 0.2em;

                .bar {
                    padding: 2px 2px 2px 2px;
                    border: 1px solid #666666;

                    .fill {
                        height: 1em;
                        background-color: #666666;
                    }
                }
            }
        }

        .device-placeholder {
            padding-left: 0;
            padding-right: 0;
        }

        AUDIO {
            width: 100%;
        }
    }

    .controls {
        flex: 1 0 auto;
        padding: 0.4em 0 0.2em 0.2em;
        border-top: 1px solid #666666;

        .buttons {
            float: right;
        }

        .duration-indiactor {
            margin-top: 0.65em;
            float: left;
        }
    }

    .single-col & {
        width: 100%;
        max-width: none;
    }
}
