.media-dialog-box {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;

    background-color: #362a2a;
    box-shadow: 2px 2px 2px #000000;
    color: #666666;
    margin: auto;
    padding: 0.4em 0.4em 0.4em 0.4em;

    .container {
        flex: 1 1 auto;
        display: flex;
        overflow: hidden;
        padding-bottom: 0.2em;
        align-items: center;
        justify-content: center;

        IMG, CANVAS, svg {
            object-fit: contain;
            display: block;
        }

        VIDEO {
            max-width:100%;
            max-height:100%;
            display: block;
        }
    }

    .controls {
        display: block;
        flex: 1 0 auto;
        padding: 0.4em 0 0.2em 0;
        border-top: 1px solid #666666;

        .links {
            float: left;
        }

        .buttons {
            float: right;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .thumbnail {
        float: left;
        margin-right: 0.2em;
        width: 2em;
        height: 2em;
        cursor: pointer;
        border: 2px solid #333333;

        &:hover, &.selected {
            border: 2px solid #e24329;
        }

        IMG, CANVAS, svg {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
