.mobile-setup-dialog-box {
    display: flex;
    flex-direction: column;
    background-color: #362a2a;
    box-shadow: 2px 2px 2px #000000;
    color: #cccccc;
    margin: auto;
    padding: 0.4em 0.5em 0.4em 0.5em;

    .contents {
        flex: 1 1 auto;
        padding-bottom: 0.5em;

        .qr-code {
            float: left;
            width: 198px;
            height: 198px;
            cursor: none;
            margin-right: 1em;
        }

        .info {
            float: left;
            overflow: hidden;
            padding: 0.5em 0.5em 0 0;

            .label {
                white-space: nowrap;
                font-size: 0.9em;
                color: #cccccc;
            }

            .value {
                white-space: nowrap;
                font-size: 1.5em;
                color: #eeeeee;
                margin-top: 0.25em;
                margin-bottom: 0.5em;
                user-select: text;
            }
        }
    }

    .buttons {
        flex: 0 0 auto;
        padding: 0.5em 0 0.2em 0.2em;
        border-top: 1px solid #666666;
        text-align: right;
    }
}
