.photo-capture-dialog-box {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 80%;

    background-color: #362a2a;
    box-shadow: 2px 2px 2px #000000;
    color: #666666;
    margin: auto;
    padding: 0.4em 0.4em 0.4em 0.4em;

    .container {
        flex: 1 1 auto;
        overflow: hidden;
        margin-bottom: 0.2em;
        position: relative;

        .live-video, .preview {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
        }

        .spacer {
            display: block;
            visibility: hidden;

            .single-col & {
                width: 100%;
            }
        }
    }

    .controls {
        display: block;
        flex: 1 0 auto;
        padding: 0.4em 0 0.2em 0.2em;
        border-top: 1px solid #666666;

        .device-selector {
            float: left;
        }

        .buttons {
            float: right;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .single-col & {
        width: 100%;
        max-width: none;
    }
}
