.user-selection-dialog-box {
    display: flex;
    flex-direction: column;
    max-height: 80%;
    max-width: 100%;
    background-color: #362a2a;
    box-shadow: 2px 2px 2px #000000;
    color: #666666;
    margin: auto;
    padding: 0.4em 0.4em 0.4em 0.4em;

    .scrollable {
        flex: 1 1 auto;
    }

    .buttons {
        flex: 0 0 auto;
        padding: 0.4em 0 0.2em 0.2em;
        text-align: right;
        border-top: 1px solid #666666;
    }

    .single-col & {
        width: 100%;
    }
}
