* {
    box-sizing: border-box;
    font-family: sans-serif;

    &:focus {
        outline-color: #fca326;
    }
}

html, body {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
}

body {
    user-select: none;
    touch-action: pan-y;
}

.application {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.page-view-port {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #4d3936;
}

.single-col {
    .overlay {
        .foreground {
            height: 100%;
        }
    }
}

SELECT {
    border-radius: 0;
    background-color: #eeeeee;
    border: 1px solid #444444;
    user-select: auto;
    -webkit-appearance: none;

    OPTION {
        padding: 2px 2px 2px 4px;
    }
}

TEXTAREA,
INPUT[type=text],
INPUT[type=url],
INPUT[type=email],
INPUT[type=password],
INPUT[type=number]
 {
    border-radius: 0;
    background-color: #eeeeee;
    border: 1px solid #444444;
    padding: 2px 2px 2px 4px;
    font-size: 1em;
    user-select: text;
}
