* {
    box-sizing: border-box;
    font-family: sans-serif;

    &:focus {
        outline-color: #fca326;
    }
}

body {
    overflow: hidden;
}

.application {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.page-view-port {
    flex: 3 1 800px;
    position: relative;
    background-color: #ffffff;

    .scroll-box {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        overflow-y: overlay;    // Chrome only
        overflow-x: hidden;
        padding: 0 2em 1.5em 2em;
    }
}
