<style id="splash-screen-style">

BODY {
    margin: 0;
}

#splash-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#splash-screen .background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #006699;
    transition: left 0.7s ease-out;
}

#splash-screen.transition-out .background {
    left: -100%;
}

#splash-screen .logo {
    position: absolute;
    width: 150px;
    height: 186px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    transition: padding-left .5s, padding-top .5s, left .5s, top .5s, width .5s, height .5s;
    box-sizing: content-box;
}

#splash-screen.transition-out .logo {
    width: 32px;
    height: 40px;
    left: -100%;
    top: -100%;
    padding-left: 63px;
    padding-top: 60px;
    background-color: #006699;
}

#bootstrap-progress-bar {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    width: 10%;
    min-width: 75px;
    max-width: 150px;
    border: 1px solid #ffffff;
    transition: opacity 1s;
    opacity: 0;
}

#bootstrap-progress-bar.show {
    opacity: 1;
}

#bootstrap-progress-bar-filled {
    width: 0;
    height: 0.5em;
    background-color: #ffffff;
}

</style>
<div id="splash-screen">
    <div class="background"></div>
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="1000 1000 5080 6299" preserveAspectRatio="xMidYMid" style="stroke-linejoin:round;stroke-width:30">
      <defs class="ClipPathGroup">
        <clipPath clipPathUnits="userSpaceOnUse">
          <rect x="1000" y="1000" width="5080" height="6299"/>
        </clipPath>
      </defs>
      <defs class="TextShapeIndex"/>
      <defs class="EmbeddedBulletChars">
          <path d="M0.3-0.6L0.6-0.3 0.3 0 0-0.3 0.3-0.6Z"/>
          <path d="M0-0.6L0.6-0.6 0.6 0 0 0 0-0.6Z"/>
          <path d="M0.1 0L0.3-0.4 0.1-0.7 0.7-0.4 0.1 0ZM1358 739L309 1346 659 739 1358 739Z"/>
          <path d="M1-0.4L0.6 0 0.4 0 0.6-0.3 0.1-0.3 0.1-0.5 0.6-0.5 0.4-0.7 0.6-0.7 1-0.4Z"/>
          <path d="M0 0C0 0 0 0 0 0L0.2-0.3C0.1-0.4 0.1-0.5 0.1-0.5 0.1-0.5 0.1-0.5 0.1-0.5 0.1-0.5 0.1-0.5 0.1-0.5 0.2-0.5 0.2-0.5 0.2-0.5L0.2-0.5 0.2-0.4 0.4-0.5 0.4-0.5 0.4-0.5C0.4-0.5 0.4-0.5 0.5-0.5 0.4-0.5 0.4-0.4 0.4-0.4 0.4-0.4 0.3-0.3 0.3-0.3L0.4-0.1C0.4-0.1 0.4-0.1 0.3-0.1L0.4-0.1C0.4 0 0.3 0 0.3 0 0.3 0 0.3-0.1 0.2-0.2L0.1 0C0.1 0.1 0.1 0.1 0 0.1 0 0.1 0 0.1 0 0 0 0 0 0 0 0 0 0 0 0 0 0Z"/>
          <path d="M0.1 0C0.1 0 0.1 0 0-0.1 0-0.1 0-0.2 0-0.2 0-0.3 0-0.3 0-0.3 0.1-0.4 0.1-0.4 0.1-0.4 0.1-0.4 0.2-0.4 0.2-0.3L0.2-0.2C0.2-0.2 0.2-0.2 0.2-0.2L0.6-0.5C0.6-0.6 0.6-0.6 0.6-0.6 0.6-0.6 0.6-0.5 0.6-0.5L0.6-0.5C0.6-0.5 0.6-0.4 0.6-0.4L0.2 0C0.2 0 0.2 0 0.1 0Z"/>
          <path d="M0.4 0C0.3 0 0.2 0 0.2-0.1 0.1-0.1 0.1-0.2 0.1-0.3 0.1-0.4 0.1-0.4 0.2-0.5 0.2-0.6 0.3-0.6 0.4-0.6 0.5-0.6 0.6-0.6 0.6-0.5 0.7-0.4 0.7-0.4 0.7-0.3 0.7-0.2 0.7-0.1 0.6-0.1 0.6 0 0.5 0 0.4 0Z"/>
          <path d="M0.2-0.2C0.1-0.2 0.1-0.2 0.1-0.3 0-0.3 0-0.3 0-0.4 0-0.4 0-0.4 0.1-0.4 0.1-0.5 0.1-0.5 0.2-0.5 0.2-0.5 0.2-0.5 0.3-0.4 0.3-0.4 0.3-0.4 0.3-0.4 0.3-0.3 0.3-0.3 0.3-0.3 0.2-0.2 0.2-0.2 0.2-0.2Z"/>
          <path d="M0-0.2L0.6-0.2 0.6-0.3 0-0.3 0-0.2Z"/>
      </defs>
      <defs class="TextEmbeddedBitmaps"/>
      <g class="SlideGroup">
          <g class="Slide" clip-path="url(#presentation_clip_path)">
            <g class="Page">
              <g class="com.sun.star.drawing.ClosedBezierShape">
                  <rect class="BoundingBox" x="1000" y="1000" width="5082" height="6301" fill="none"/>
                  <path d="M1655 2259L5444 2259 6080 2890 6080 3520 5233 3520 5233 3099 1847 3099 1847 3918 1847 4758 1847 5619 1847 6459 5233 6459 5233 5619 4809 5619 4809 4989 6080 4989 6080 6669 5444 7299 1635 7299 1000 6669 1000 2890 1655 2259ZM3116 6459L3116 4569 3963 4569 3963 6459 3116 6459ZM3540 3520C3780 3520 3963 3701 3963 3939 3963 4178 3780 4360 3540 4360 3300 4360 3116 4178 3116 3939 3116 3701 3300 3520 3540 3520ZM3116 3520L3116 3520ZM3964 4361L3964 4361ZM3328 2259L3328 1419 2693 1419 2693 1000 4387 1000 4387 1419 3752 1419 3752 2259 3328 2259Z" fill="rgb(255,255,255)"/>
              </g>
            </g>
          </g>
      </g>
    </svg>
    <div id="bootstrap-progress-bar">
        <div id="bootstrap-progress-bar-filled"></div>
    </div>
</div>
