.error-page {
    .contents {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffffff;

        .text {
            max-width: 20em;
            line-height: 135%;
            margin-left: 1em;
            margin-right: 1em;

            h1 {
                text-align: center;
            }
        }

        .graphic {
            margin-left: 1em;
            margin-right: 1em;

            svg {
                width: 100%;
                max-width: 20em;

                polygon {
                    fill: #ffffff;
                }
            }
        }
    }
}
