.member-list-page {
    .buttons {
        float: right;
        margin-left: 0.4em;
    }

    .sortable-table {
        #type {
            width: 10em;
        }

        #roles {
            width: 10em;
        }

        #range {
            width: 15em;
        }

        #to_date, #last_month, #this_month {
            width: 12em;
        }

        #mtime {
            width: 10em;
        }

        .action-badge {
            margin-top: 0.35em;
        }
    }
}
