.project-list-page {
    .buttons {
        float: right;
    }

    .sortable-table {
        #users {
            width: 10em;
        }

        #repos {
            width: 10em;
        }

        #range {
            width: 15em;
        }

        #to_date, #last_month, #this_month {
            width: 10em;
        }

        #mtime {
            width: 10em;
        }
    }
}
