.settings-page {
    .buttons {
        float: right;
    }

    .form {
        float: left;
        max-width: 40em;
        min-width: 20em;
        width: 50%;
        padding-left: 0.5em;
        margin-right: 2em;
    }

    .instructions {
        padding-top: 1.2em;
    }

    .option-list {
        .pos {
            background-color: #000000;
            color: #eeeeee;
            display: inline-block;
            font-size: 0.7em;
            padding: 0.1em 0.4em 0.1em 0.4em;
            border-radius: 1em;
            vertical-align: 0.07em;
        }
    }
}
