.sign-in-page {
    FORM {
        max-width: 20em;

        .button-row {
            margin-top: -0.5em;
            text-align: right;
        }

        .error {
            color: #cc0000;
            margin-bottom: 1em;
        }
    }

    .oauth-button {
        display: table;
        border: 1px solid #000000;
        width: 100%;
        max-width: 20em;
        margin-top: 0.5em;

        .icon {
            width: 2em;
            display: table-cell;
            font-size: 2em;
            padding: 0.26em 0 0.24em 0.25em;
            text-align: center;
            vertical-align: middle;
        }

        .label {
            display: table-cell;
            font-size: 1.25em;
            padding-right: 2.5em;
            text-align: center;
            vertical-align: middle;
        }

        .error {
            display: table-cell;
            padding-left: 1.25em;
            padding-right: 1.5em;
            vertical-align: middle;
        }

        &:link, &:visited {
            text-decoration: none;
            color: #000000;
        }

        &.error {
            border-color: #990000;
            color: #990000;
        }

        &:hover, &:active {
            background-color: #99ddff;
            color: #000000;
        }
    }
}
