.user-list-page {
    .buttons {
        float: right;
    }

    .sortable-table {
        #username {
            width: 12em;
        }

        #type {
            width: 10em;
        }

        #roles {
            width: 10em;
        }

        #projects {
            width: 12em;
        }

        #email {
            width: 12em;
        }

        #mtime {
            width: 10em;
        }

        .action-badge {
            margin-top: 0.35em;
        }

        .email {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
