.user-summary-page {
    .buttons {
        float: right;
    }

    .form {
        float: left;
        max-width: 40em;
        min-width: 20em;
        width: 50%;
        padding-left: 0.5em;
        margin-right: 2em;

        &.social {
            clear: left;
        }
    }

    .social-toggle {
        float: left;
        clear: left;
        margin-top: 0;
        cursor: pointer;

        &:hover {
            color: #004466;
        }
    }

    .instructions {
        padding-top: 1.2em;
    }

    .statistics {
        clear: both;
    }
}
