.bookmark-view {
    border: 2px solid #111;
    background-color: #111;

    .title {
        color: #eeeeee;
        user-select: text;

        .name {
            display: inline-block;
            padding: 0.2em 0.1em 0.4em 0.4em;
            font-size: 0.9em;
        }
    }

    .story {
        clear: both;

        .story-view {
            border: 0;
            margin: 0;
        }
    }

    &.highlighting {
        animation: flash normal 5s 1 ease-in-out;

        @keyframes flash {
            25% {
                border-color: #fc6d26;
            }
        }
    }
}
