.media-view {
    position: relative;
    margin-top: 1em;

    .container {
        width: 100%;

        IMG, CANVAS {
            display: block;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
        }

        .image, .video, .audio, .website {
            cursor: pointer;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 0;

            .icon {
                font-size: 10em;
            }

            .duration {
                padding: 0.25em 0.5em 0.25em 0.5em;
                font-size: 2em;
                border-radius: 0.5em;
            }
        }

        .website {
            A {
                display: block;

                &:link, &:visited {
                    color: #000000;
                }
            }
        }

        .video, .audio {
            .overlay {
                color: #111111;
                opacity: 0.5;

                .no-touch & {
                    opacity: 0;

                    &:hover {
                        opacity: 0.6;

                        .duration {
                            color: #eeeeee;
                            background-color: #111111;
                        }
                    }
                }
            }

            &.posterless {
                padding-top: 50%;
                padding-bottom: 50%;
                background-color: #111111;

                .overlay {
                    color: #eeeeee;
                    opacity: 0.5;

                    .no-touch & {
                        &:hover {
                            opacity: 1;

                            .duration {
                                color: #eeeeee;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }

        .navigation {
            position: absolute;
            width: 100%;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);

            .left {
                float: left;
            }

            .right {
                float: right;
            }
        }

        audio {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin-top: 0;
        }
    }
}
