.notification-view {
    display: block;
    background-color: #362a2a;
    border: 2px solid #211a1a;
    padding: 0.4em 0.4em 0.3em 0.4em;
    color: #666666;
    cursor: pointer;
    transition: color 1s;

    .event {
        user-select: text;
        display: inline;

        .profile-image {
            margin: 0 0.4em 0 0;
        }

        .text {
            vertical-align: middle;
        }
    }

    .date {
        float: right;
        margin: 0.1em 0 0 0.8em;
        color: #666666;
        transition: color 1s;

        .time {
            vertical-align: middle;
        }

        .fa {
            margin-left: 0.2em;
            vertical-align: middle;
        }
    }

    &:link, &:visited {
        text-decoration: none;
    }

    &.unread {
        color: #eeeeee;

        .date {
            color: #eeeeee;
        }
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
