.story-contents {
    margin-top: 1em;
    margin-bottom: 0.25em;

    .text {
        color: #cccccc;
        user-select: text;

        A {
            &:link, &:visited {
                text-decoration: none;
                color: #cccccc;

                &:hover {
                    color: #ffffff;
                }
            }
        }

        P {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .status-opened, .status-reopened {
            color: #99ff66;
        }

        .status-closed {
            color: #ff3333;
        }

        .tags {
            line-height: 1.6em;
        }

        .tag {
            font-size: 0.9em;
            color: #ffffff;
            background-color: #444444;
            padding: 0.2em 0.4em 0.2em 0.4em;
            border-radius: 0.25em;
        }

        &.plain-text {
            white-space: pre-wrap;

            .list-item {
                &.vote-count {
                    width: 100%;
                }
            }
        }

        &.markdown {
            IMG, CANVAS, svg {
                vertical-align: top;
                height: 1.5em;
                width: auto;
                cursor: pointer;
                vertical-align: middle;
            }

            svg {
                width: 1.5em;
            }
        }

        &.survey, &.task-list {
            .list-item, .vote-count {
                margin-bottom: 0.2em;

                // take out margin when it's in a list-item
                H1, H2, H3, H4, H5, H6 {
                    display: inline-block;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.survey {
            .vote-count {
                .label {
                    display: block;
                    margin-bottom: 0.1em;
                }

                .bar {
                    display: block;
                    position: relative;
                    border: 1px solid #aaaaaa;
                    font-size: 0.8em;
                    height: 1.5em;
                    margin-bottom: 0.4em;

                    .percent {
                        position: absolute;
                        display: block;
                        left: 0.2em;
                        top: 0.1em;
                        color: #333333;
                    }

                    .count {
                        position: absolute;
                        display: block;
                        right: 0.2em;
                        top: 0.1em;
                        color: #cccccc;
                    }

                    .filled {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        $series-colors: (
                            hsl(30, 100%, 65%),
                            hsl(60, 80%, 55%),
                            hsl(90, 100%, 65%),
                            hsl(120, 80%, 45%),
                            hsl(150, 100%, 65%),
                            hsl(180, 80%, 55%),
                            hsl(210, 100%, 65%),
                            hsl(240, 80%, 45%),
                            hsl(270, 100%, 65%),
                            hsl(300, 80%, 55%),
                            hsl(330, 100%, 65%),
                            hsl(360, 80%, 45%),
                        );

                        @for $i from 0 to length($series-colors) {
                            &.color-#{$i + 1} {
                                background-color: nth($series-colors, $i + 1);
                            }
                        }
                    }
                }

                &.unanimous {
                    .count {
                        // use darker color when bar extends all the way to the end
                        color: #333333;
                    }
                }
            }
        }

        &.milestone {
            .start-date {
                color: #99ff66;
            }
            .due-date {
                color: #ff3333;
            }
        }

        &.push {
            .files, .lines {
                display: inline-block;
                list-style-type: none;
                vertical-align: top;
                margin: 0;
                padding: 0;

                .added {
                    color: #99ee66;
                }

                .deleted {
                    color: #ee3333;
                }

                .modified {
                    color: #66aaff;
                }

                .renamed {
                    color: #eeee66;
                }
            }

            .files {
                margin-right: 2em;
            }
        }
    }

    .impact {
        .message {
            color: #cccccc;
            user-select: text;
        }

        .scrollable {
            margin: -0.5em 0 0.3em 0;
            max-height: 15em;
        }
    }

    .buttons {
        text-align: right
    }

    audio {
        margin-top: 0.25em;
        width: 100%;
    }
}
