.user-statistics {
    .legend {
        text-align: right;
        font-size: 0.8em;
        color: #999999;
        padding: 0.5em 0.5em 0.25em 0;

        .item {
            display: inline-block;
            white-space: nowrap;
            margin-left: 0.6em;

            .ct-chart-bar {
                width: 0.8em;
                height: 0.8em;
                vertical-align: middle;
                margin-right: 0.3em;
            }

            .label {
                vertical-align: middle;
            }
        }
    }

    .ct-chart {
        height: 11em;

        .ct-label {
            color: #999999;
        }

        .ct-grids line {
            stroke: #444444;
        }

        .ct-bar {
            cursor: pointer;
        }

        .date-label {
            font-family: sans-serif;
            font-size: 12px;
            fill: #eeeeee;
        }

        .date-arrow {
            font-family: FontAwesome;
            font-size: 12px;
            fill: #eeeeee;
        }

        .ct-grid.ct-horizontal.month-start {
            stroke: #666666;
            stroke-width: 1px;
            stroke-dasharray: none;
        }
    }

    .scroll-container-frame {
        position: relative;
        height: 11em;

        .scroll-container {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            direction: rtl;
            overflow-x: auto;
            overflow-x: overlay;
            overflow-y: hidden;

            .scroll-container-contents {
                direction: ltr;
            }

            // use custom color only on desktop
            @media only screen and (min-device-width : 800px) {
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    background-color: transparent;
                }

                &::-webkit-scrollbar {
                    height: 10px;
                    background-color: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 2px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                    background-color: rgba(0,0,0,.1);
                }
            }
        }

        .ct-label.ct-horizontal.ct-end {
            width: 100px !important;
            text-align: left;
            justify-content: normal;
        }
    }
}
