.user-view {
    background-color: #362a2a;
    border: 2px solid #211a1a;
    width: 100%;

    .header {
        background-color: #211a1a;

        .profile-image {
            position: relative;
            height: 0.8em;
            vertical-align: top;
            margin-top: 0.1em;
            margin-right: 0.5em;
            overflow: visible;

            IMG, svg {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .roles {
            color: #eeeeee;
        }
    }

    .body {
        .name {
            color: #eeeeee;
            margin-left: 4.3em;
            margin-top: 0.3em;
            margin-bottom: 0.15em;
            font-size: 1.5em;
            user-select: text;

            A {
                &:link, &:visited {
                    color: #eeeeee;
                    text-decoration: none;

                    &:hover {
                        color: #ffffff;
                    }
                }
            }
        }

        .tag {
            font-size: 1.1em;
            margin-left: 5.9em;
            margin-top: 0.2em;
            margin-bottom: 0.4em;
            display: inline-block;
            user-select: text;

            A {
                &:link, &:visited {
                    color: #666666;
                    text-decoration: none;

                    &:hover {
                        color: #cccccc;
                    }
                }
            }
        }

        .user-activity-list {
            user-select: text;
        }

        .back-link {
            float: right;
            margin-top: 0.5em;
            font-weight: bold;

            A {
                &:link, &:visited {
                    color: #eeeeee;
                    text-decoration: none;
                }

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }

    .padded {
        padding: 0.25em 0.25em 0.25em 0.5em;
    }

    .selectable {
        user-select: text;
    }

    .single-col & {
        .column-2 {
            &:empty {
                display :none;
            }
        }
    }

    .double-col &,
    .triple-col & {
        display: table;

        .header {
            display: table-row;
        }

        .body {
            display: table-row;
        }

        .column-1,
        .column-2,
        .column-3 {
            display: table-cell;
            vertical-align: top;
        }
    }

    .double-col & {
        .column-1 {
            width: 50%;
        }
        .column-2 {
            width: 50%;
        }
    }

    .triple-col & {
        .column-1 {
            width: 40%;
        }
        .column-2 {
            width: 40%;
        }
        .column-3 {
            width: 20%;
        }
    }
}
