.user-activity-list {
    margin-top: 0.5em;

    .activity {
        margin-bottom: 0.15em;
        overflow: hidden;

        .label {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            A {
                &:link, &:visited {
                    color: #999999;
                    text-decoration: none;
                    &:hover {
                        color: #eeeeee;
                    }
                }
            }

            &.recent {
                A {
                    color: #cccccc;
                }
            }
        }

        .time {
            float: right;
            color: #666666;
            font-size: 0.9em;
            user-select: text;

            &.today, &.yesterday {
                color: #cccccc;
            }
        }
    }
}
