.user-selection-list {
    min-width: 14em;
    padding-bottom: 0.1em;

    .user {
        position: relative;
        cursor: pointer;
        padding: 0.2em 0.2em 0.2em 0.2em;
        filter: grayscale(50%);

        .name {
            margin-left: 0.2em;
            margin-right: 2em;
            vertical-align: middle;
        }

        .fa {
            position: absolute;
            right: 0.3em;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 1em;
            font-size: 1.2em;
            color: #e24329;
            opacity: 0;
            transition: opacity 0.5s;
            vertical-align: middle;
        }

        &:hover {
            color: #cccccc;
            filter: none;
        }

        &.selected {
            background-color: #211a1a;
            color: #eeeeee;
            filter: none;

            .fa {
                opacity: 1;
            }
        }

        &.disabled {
            cursor: default;
        }
    }
}
