.action-badge {
    font-size: 0.7em;
    color: #ffffff;
    padding: 2px 4px 2px 4px;
    float: right;
    text-transform: uppercase;
    margin-left: 0.1em;

    .fa {
        margin-right: 2px;
    }

    &.add {
        background-color: #009900;
    }

    &.remove {
        background-color: #cc0000;
    }
}
