.multilingual-text-field {
    margin-bottom: 1em;

    label {
        display: block;
        font-weight: 600;
    }

    input[type=text],
    textarea {
        display: block;
        width: 100%;
        transition: border-color 1s ease-out;
        border: 1px solid #000000;
        font-size: 1em;
        margin-top: 2px;
        margin-bottom: 0;
        padding: 2px 2px 1px 4px;
    }

    textarea {
        resize: none;
    }

    &.multiple-languages {
        input[type=text],
        textarea {
            border-bottom: 0;
            padding-bottom: 2px;
        }
    }

    .tabs {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #000000;
        border: 1px solid #000000;
        border-top: 0;
        transition: border-color 1s ease-out;
    }

    .tab {
        flex: 1 1 auto;
        text-align: center;
        font-variant: small-caps;
        color: #ffffff;
        font-size: 0.8em;
        padding: 0.25em 0 0.25em 0;
        transition: font-size 0.25s;
        cursor: pointer;

        &.selected {
            color: #000000;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background: linear-gradient(45deg, transparent 1.2em, #fff 0) bottom left;
            cursor: default;

            &:first-child {
                background: linear-gradient(315deg, transparent 1.2em, #fff 0) bottom right;
            }
        }
    }

    .bubble {
        position: absolute;
        left: 0;
        right: 0;
        top: 3em;
        z-index: 100;

        .arrow {
            position: absolute;
            top: 0;
            left: 8px;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-bottom-color: #e0e0e0;
            border-top: 0;
            margin-left: -8px;
            margin-top: -8px;
        }

        .box {
            background: #e0e0e0;
            box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
            padding: 6px 4px 4px 4px;
            margin-left: 1em;
            margin-right: 1em;
            white-space: pre-line;
        }
    }

    &.readonly {
        input[type=text],
        textarea {
            border-color: #ffffff;
            cursor: text;
            outline: none;
        }

        .tabs {
        	background-color: #ffffff;
            border-color: #ffffff;
        }

        .tab {
        	color: #999999;

            .selected {
            	color: #000000;
            }
        }
    }

    &.collapsed {
        .tab {
            font-size: 0;
        }
    }
}
