.navigation-tree {
    position: relative;

    .level1 {
        font-size: 1.4em;
        padding-left: 2em;
        margin-bottom: 0.5em;
    }

    .level2 {
        font-size: 0.8em;
        padding-left: 0.5em;
        margin-top: 0.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .level3 {
        font-size: 0.95em;
        padding-left: 0.6em;
        margin-top: 0.2em;
    }

    .level4 {
        font-size: 0.95em;
        padding-left: 0.5em;
        margin-top: 0.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    A {
        cursor: default;

        &:link, &:visited {
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: #99ddff;
            }
        }
    }

    .collapsible-container {
        transition: height .25s;
    }

    .arrow {
        position: absolute;
        font-size: 1.2em;
        left: 16px;
        opacity: 1;
        transition: top 0.5s, opacity 0.8s;

        .second, .third, .fourth {
            position: absolute;
            transition: left 0.3s;
        }

        &.extending {
            // delay extension animation until movement is nearly complete
            .second, .third, .fourth {
                transition: left 0.3s linear 0.3s;
            }
        }

        &.retracting {
            // delay movement of arrow until retraction is nearly complete
            transition: top 0.5s linear 0.2s, opacity 0.8s linear 0.2s;
        }


        &.zero {
            visibility: hidden;
            opacity: 0;
        }

        &.one {
            .second, .third, .fourth {
                left: 0px;
            }
        }

        &.two {
            .second, .third, .fourth {
                left: 0.5em;
            }
        }

        &.three {
            .second {
                left: 0.5em;
            }

            .third, .fourth {
                left: 1em;
            }
        }

        &.four {
            .second {
                left: 0.5em;
            }

            .third {
                left: 1em;
            }

            .fourth {
                left: 1.5em;
            }
        }
    }

    &.disabled {
        A {
            color: #2483b3;
        }

        .arrow {
            opacity: 0;
        }
    }
}
