.profile-image {
    &.small {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
    }

    &.large {
        width: 6em;
        height: 6em;
        vertical-align: middle;
    }
}

svg.profile-image {
    background-color: #999999;
}
