.push-button {
    font-size: 1.2em;
    padding: 0.14em 0.5em 0.14em 0.5em;
    background-color: #cccccc;
    border: 2px outset #dddddd;
    color: #000000;

    &:disabled {
        color: #999999;
    }

    &.emphasis {
        color: #ffffff;
        background-color: #006699;
        border: 2px outset #0088cc;

        &:disabled {
            color: #5c8599;
        }
    }

    &.danger {
        color: #ffffff;
        background-color: #cc2929;
        border: 2px outset #ff3333;

        &:disabled {
            color: #cc7a7a;
        }
    }

    &:active {
        border-style: inset;
    }
}
