.side-navigation {
    flex: 1 1 auto;
    position: relative;
    color: #fff;
    background-color: #006699;
    min-width: 15em;
    max-width: 20em;

    HEADER {
        overflow: hidden;
        margin-bottom: 1em;
    }

    .logo {
        float: left;
        margin: 10px 16px 8px 16px;
        width: 32px;
        height: 40px;
    }

    .app-name {
        text-transform: uppercase;
        opacity: 1;
        transition: opacity 1s ease-out 0.6s;
    }

    .navigation-tree {
        opacity: 1;
        transition: opacity 1s ease-out 1s;
    }

    .bottom-buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #005580;
        transition: bottom 1s linear 1s;

        .button {
            position: relative;
            float: left;

            &.country {
                .label {
                    border-left: 1px solid #006699;
                }
            }

            &.user {
                float: right;
                .label {
                    border-left: 1px solid #006699;
                }

                .window-container {
                    left: auto;
                    right: 0.1em;
                }
            }

            .tooltip {
                .label {
                    display: inline-block;
                    color: #0077b3;
                    padding: 0.4em 0.5em 0.3em 0.5em;
                }

                &.live {
                    .label {
                        cursor: pointer;

                        &:hover {
                            color: #99ddff;
                        }
                    }
                }

                .item {
                    color: #777777;
                    margin-top: 0.25em;
                    margin-right: 0.25em;
                    cursor: pointer;

                    .fa {
                        visibility: hidden;
                    }

                    &.selected {
                        cursor: default;
                        color: #0077b3;

                        .fa {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    &.hidden {
        .app-name, .navigation-tree {
            opacity: 0;
        }

        .bottom-buttons {
            bottom: -2em;
        }
    }
}
