.task-alert-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #005580;
    padding: 0.4em 0.5em 0.3em 0.5em;
    border-left: 1px solid #006699;
    text-align: right;
    transition: bottom 0.4s;

    .progress-bar-frame {
        display: inline-block;
        width: 10em;
        border: 1px solid #0077b3;
        margin-left: 0.5em;

        .bar {
            background-color: #0077b3;
            height: 0.6em;
        }
    }

    &.hidden {
        bottom: -1.8em;
    }

    A {
        color: #0077b3;

        &:link, &:visited {
            text-decoration: none;
        }

        &:hover {
            color: #99ddff;
        }
    }
}
