.task-list {
    max-height: 25em;
    overflow-y: auto;
    padding: 0 0.5em 0 0.5em;
    margin-bottom: 1em;

    .task {
        clear: both;
        padding: 0.25em 0.25em 0.2em 0.25em;
        overflow: hidden;

        .summary {
            cursor: pointer;
        }

        .start-time {
            float: left;
            margin-right: 1em;
        }

        .message {
            float: left;
            margin-right: 1em;

            .fa {
                margin-left: 0.5em;
            }
        }

        .duration {
            display: inline-block;
            float: right;
            margin-left: 1em;
        }

        .progress-bar-frame {
            display: inline-block;
            float: right;
            width: 7em;
            border: 1px solid #000000;
            margin-top: 0.2em;
            margin-left: 0.5em;

            .bar {
                background-color: #0077b3;
                height: 0.6em;
            }
        }

        &.expanded {
            background: #99ddff;
        }

        .details {
            clear: both;
            margin-top: 0.25em;
            padding-top: 0.25em;


            .item {
                display: inline-block;
                color: #000000;
                max-width: 8em;
                padding: 0.15em 0.5em 0.15em 0.5em;
                margin-right: 0.3em;
                text-align: center;
                text-overflow: ellipsis;
                border: 1px solid black;
                overflow: hidden;
                white-space: nowrap;

                &.added {
                    background-color: #99ee66;
                }

                &.deleted {
                    background-color: #ee3333;
                }

                &.modified {
                    background-color: #66aaff;
                }
            }
        }

        .error {
            font-size: 0.8em;
            clear: both;
            white-space: pre-wrap;
            padding-top: 0.35em;
            padding-bottom: 0.35em;
            border-top: 1px solid #551111;
        }

        &.failure {
            color: #551111;

            .progress-bar-frame {
                border-color: #551111;

                .bar {
                    background-color: #ff6666;
                }
            }

            .details {
                border-top-color: #551111;
            }
        }
    }
}
