.text-field {
    margin-bottom: 1em;

    label {
        display: block;
        font-weight: 600;
    }

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=tel],
    textarea {
        display: block;
        width: 100%;
        transition: border-color 1s ease-out;
        border: 1px solid #000000;
        font-size: 1em;
        margin-top: 2px;
        padding: 2px 2px 1px 4px;
    }

    textarea {
        resize: none;
    }

    &.readonly {
        input[type=text],
        input[type=password],
        input[type=email],
        input[type=url],
        input[type=tel],
        textarea {
            border-color: #ffffff;
            cursor: text;
            outline: none;
        }
    }
}
