.image-cropping-dialog-box {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #006699;
    color: #ffffff;
    padding: 1em 1em 1em 1em;
    box-shadow: 5px 5px 4px #000000;

    .image {
        max-width: 80vw;
        max-height: 80vh;
        margin-bottom: 0.8em;
    }

    .buttons {
        flex: 0 0 auto;
        border-top: 1px solid #ffffff;
        padding-top: 0.8em;

        .left {
            float: left;
        }

        .right {
            float: right;
        }

    }
}
