.image-album-dialog-box {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #006699;
    color: #ffffff;
    width: 80vw;
    max-height: 60vh;
    padding: 1em 1em 1em 1em;
    box-shadow: 5px 5px 4px #000000;

    .scrollable {
        flex: 1 1 auto;
        margin-bottom: 0.5em;
        min-height: 30vh;
        text-align: center;
        overflow: auto;

        .picture {
            display: inline-block;
            border: 5px solid #ffffff;
            margin: 0.3em 0.4em 0.3em 0.4em;
            cursor: pointer;

            * {
                display: block;
            }

            &.selected {
                border-color: #99ddff;
            }

            &.deleting {
                border-color: #ff9999;
            }

            &.disabled {
                cursor: wait;
            }
        }
    }

    .buttons {
        flex: 0 0 auto;
        border-top: 1px solid #ffffff;
        padding-top: 0.8em;

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        label.push-button {
            display: inline-block;
            vertical-align: top;
            user-select: none;

            INPUT[type="file"] {
                position: absolute;
                z-index: -50000;
                width: 1px;
                height: 1px;
            }
        }
    }

    .drop-target {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 4px solid #ffff66;
        background-color: rgba(255,255,102,0.2);
    }
}
