.bottom-navigation {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    transition: height 0.7s;
    z-index: 2;     // drawn over the start page (z-index = 1)

    .container {
        display: flex;
        flex-direction: row;
        background-color: #262626;
        border-top: 1px solid #323232;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 1px;
        width: 100%;
    }

    .button {
        display: block;
        flex: 1 1 auto;
        text-align: center;
        padding: 8px 0 8px 0;
        cursor: pointer;
        color: #888888;
        touch-action: manipulation;

        &:link, &:visited {
            color: #888888;
            text-decoration: none;
        }

        .no-touch & {
            &:hover, &:hover .label {
                color: #eeeeee;
            }
        }

        &.active, &.active .label {
            color: #ffffff;
        }

        .fa {
            font-size: 1.4em;
        }

        .label {
            font-size: 0.8em;
            vertical-align: 0.2em;
            color: #666666;
        }

        .badge {
            position: relative;

            .number {
                position: absolute;
                color: #111111;
                background-color: #fca326;
                font-size: 9px;
                border-radius: 10px;
                padding: 3px 5px 2px 5px;
                left: 0.25em;
                top: -0.5em;
                line-height: 100%;
            }
        }

        &.stacking {
            padding: 4px 0 0 0;

            .badge {
                .number {
                    left: 0.5em;
                    top: -0.7em;
                }
            }
        }
    }

    .keyboard & {
        display: none;
    }
}
