.calendar {
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0;
    direction: ltr;
    margin-left: 0.2em;
    margin-right: 0.2em;

    .title {
        TH {
            font-size: 0.8em;
            font-weight: bold;
            color: #999999;
            border: 1px solid #444444;
            padding: 0.25em 0.1em 0.2em 0.1em;
        }
    }

    .headings {
        TH {
            font-size: 0.6em;
            font-weight: normal;
            color: #999999;
            border: 1px solid #444444;
            padding: 0.2em 0 0.2em 0;
        }

        TH.weekend {
            background-color: #333333;
        }
    }

    .dates {
        TD {
            width: 1.6em;
            height: 1.4em;
            font-size: 0.8em;
            color: #666666;
            text-align: center;
            border: 1px solid #444444;
            cursor: default;

            A {
                display: block;
                touch-action: manipulation;
                
                &:link, &:visited {
                    text-decoration: none;
                    color: #cccccc;
                }
            }
        }

        TD.weekend {
            background-color: #333333;
        }

        TD.today {
            color: #ffffff;
            background-color: #000000;

            A {
                &:link, &:visited {
                    color: #ffffff;
                }
            }
        }

        TD.selected {
            color: #000000;
            background-color: #eeeeee;

            A {
                &:link, &:visited {
                    color: #000000;
                }
            }
        }
    }
}
