.corner-pop-up {
    float: right;

    .button {
        color: #666666;
        touch-action: manipulation;
        padding: 4px 4px 4px 4px;
        margin: -4px -4px -4px -4px;

        .single-col & {
            // make target even bigger
            padding: 8px 8px 8px 8px;
            margin: -8px -8px -8px -8px;
        }

        .no-touch & {
            &:hover {
                color: #eeeeee;
            }
        }
    }

    &.open {
        .button {
            color: #eeeeee;
        }
    }

    .container {
        right: 0.3em;
        top: 1.5em;
    }
}
