.device-placeholder {
    font-size: 8em;
    color: #111111;
    width: 100%;
    text-align: center;

    .fa-ban {
        color: #ee3333;
        opacity: 0;
        transition: opacity 1s;
    }

    &.blocked {
        .fa-ban {
            opacity: 1;
        }
    }
}
