.empty-message {
    position: relative;
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .text {
        font-weight: bold;
        flex: 0 1 auto;
        color: #ffffff;
        opacity: 0.2;

        animation-name: fade-in;
        animation-duration: 2s;
        animation-iteration-count: 1;

        @keyframes fade-in {
            0%   { opacity: 0; }
            100% { opacity: 0.2; }
        }

        .double-col &,
        .triple-col & {
            font-size: 1.5em;
        }
    }
}
