.header-button {
    display: inline-block;
    color: #666666;
    margin-right: 0.5em;
    touch-action: manipulation;
    cursor: pointer;

    .no-touch & {
        &:hover {
            color: #eeeeee;
        }
    }

    &.disabled {
        cursor: default;
        &:hover {
            color: #666666;
        }
    }

    &.highlighted {
        color: #e24329;
    }

    .label {
        font-size: 0.9em;
        margin-left: 0.3em;
    }

    INPUT[type="file"] {
        position: absolute;
        visibility: hidden;
        width: 1px;
        height: 1px;
    }
}
