.loading-animation {
    position: relative;
    height: 25vh;

    .dot {
        position: absolute;
        background-color: #ffffff;
        top: 50%;
        width: 5px;
        height: 5px;
        left: -5%;
        opacity: 0;

        animation-name: in-and-out;
        animation-duration: 8s;
        animation-iteration-count: infinite;

        @keyframes in-and-out {
            0%   { left: -5%;  opacity: 0.1; }
            5%   { left: 50%;  opacity: 0.2; }
            48%  { left: 50%;  opacity: 0.2; }
            53%  { left: 105%; opacity: 0.1; }
            54%  { left: 105%; opacity: 0.0; }
            100% { left: -5%;  opacity: 0.0; }
        }

        &.first {
            margin-left: 24px;
             animation-delay: 1s;
        }

        &.second {
            margin-left: 8px;
            animation-delay: 2s;
        }

        &.third {
            margin-left: -8px;
            animation-delay: 3s;
        }

        &.fourth {
            margin-left: -24px;
            animation-delay: 4s;
        }
    }
}
