.media-placeholder {
    position: absolute;
    left: 1em;
    top: 1em;
    right: 1em;
    bottom: 1em;
    border: 2px dashed rgba(127, 127, 127, 0.15);

    .message {
        position: absolute;
        left: 1em;
        top: 0;
        right: 1em;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #666666;
        margin: auto;
        user-select: none;
        cursor: default;
        opacity: 0;
        animation: fadeInAndOut 30s normal forwards;

        @keyframes fadeInAndOut {
            0%   { opacity:0; }
            15%  { opacity:1; }
            30%  { opacity:0; }
            100% { opacity:0; }
        }
    }
}
