.option-button {
    display: table;
    max-width: 100%;
    color: #666666;
    margin-bottom: 0.35em;
    touch-action: manipulation;
    cursor: pointer;

    &:link, &:visited {
        text-decoration: none;
        color: #666666;
    }

    &.selected {
        color: #eeeeee;

        .pop-up-menu & {
            color: #000000;
        }
    }

    .no-touch & {
        &:hover {
            color: #eeeeee;
        }
    }

    &.disabled {
        color: #666666;
        opacity: 0.25;

        A {
            cursor: default;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    .icon {
        display: table-cell;
        width: 1em;
        padding-right: 0.25em;
    }

    .label {
        display: table-cell;
    }

    .pop-up-menu & {
        .no-touch & {
            &:hover {
                color: #000000;
            }
        }
    }
}
