.profile-image {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;

    IMG, CANVAS, svg, .placeholder {
        width: 100%;
        height: auto;
    }

    .placeholder {
        position: relative;
        padding-top: 50%;
        padding-bottom: 50%;
        background-color: #999999;
        overflow: hidden;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: 100%;
            margin: auto;
        }
    }

    &.small {
        width: 1.5em;
        height: 1.5em;
    }

    &.medium {
        width: 3em;
        height: 3em;
    }

    &.large {
        width: 6em;
        height: 6em;
    }
}
