.push-button {
    min-width: 5em;
    margin-left: 0.4em;
    margin-bottom: 0.1em;
    padding: 0.4em 1em 0.4em 1em;
    color: #666666;
    font-size: 0.9em;
    background-color: #4d3936;
    border: 2px solid #4d3936;
    touch-action: manipulation;

    &:not(:disabled) {
        &.emphasized, &:active {
            color: #eeeeee;
            background-color: #806666;
            border: 2px solid #806666;
        }

        .no-touch & {
            &:hover {
                color: #eeeeee;
                background-color: #806666;
                border: 2px solid #806666;
            }
        }

        &:active {
            border: 2px inset #333333;
        }
    }

    &:first-child {
        margin-left: 0;
    }
}

LABEL.push-button {
    display: inline-block;
    position: relative;

    INPUT[type="file"] {
        position: absolute;
        visibility: hidden;
        width: 1px;
        height: 1px;
    }
}
