.settings-panel {
    background-color: #362a2a;
    border: 2px solid #211a1a;
    width: 100%;
    break-inside: avoid-column;
    page-break-inside: avoid;

    .header {
        font-size: 1.2em;
        color: #eeeeee;
        background-color: #211a1a;
        padding: 0.5em 0.5em 0.4em 0.5em;

        .fa {
            margin-right: 0.2em;
        }

        .icon {
            display: inline-block;
            position: relative;
            margin-right: 0.2em;

            .fa {
                margin-right: 0;

                &.icon-overlay {
                    position: absolute;
                    display: block;
                    font-size: 0.75em;
                    color: #bbbbbb;
                    height: 1em;
                    width: 1em;
                    bottom: -0.2em;
                    right: -0.65em;
                }
            }
        }
    }

    .body {
        color: #cccccc;
        padding: 0.35em 0.35em 0.35em 0.35em;
        clear: both;

        .option-button {
            margin: 0.35em 0 0.35em 0.25em;
        }
    }

    .footer {
        padding: 0.15em 0.35em 0.25em 0.35em;
        text-align: right;
        clear: both;
    }

    .single-col & {
        margin-bottom: 0.5em;
    }

    .double-col &,
    .triple-col & {
        margin-bottom: 1em;
    }
}
