.story-emblem {
    float: right;

    svg {
        fill: #211a1a;
        margin-right: 0.25em;
        margin-top: 0.2em;
        height: 3em;
    }

    &.die-hard {
        position: relative;
        pointer-events: none;

        IMG {
            position: absolute;
            top: 0;
            right: 0;

            width: 70px;
            height: auto;
        }
    }
}
