.top-navigation {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-end;
    transition: height 0.7s;
    z-index: 2;     // drawn over the start page (z-index = 1)

    .container {
        background-color: #262626;
        border-bottom: 1px solid #171717;
        padding-top: 1px;
        padding-left: 4px;
        padding-right: 4px;
        width: 100%;

        .collapsible-container {
            clear: both;
        }
    }

    .button {
        display: block;
        font-size: 1.4em;
        width: 1.8em;
        text-align: center;
        padding: 0.25em 0.25em 0.25em 0.25em;
        cursor: pointer;
        color: #888888;
        touch-action: manipulation;

        .no-touch & {
            &:hover {
                color: #cccccc;
            }
        }

        &.active {
            color: #eeeeee;
        }

        &.disabled {
            color: #333333;
            cursor: not-allowed;
            &:hover {
                color: #333333;
            }
        }

        &.calendar-btn, &.filter-btn {
            float: left;
        }
        &.search-btn {
            float: right;
        }
    }

    .connection {
        display: block;
        position: relative;
        float: right;
        font-size: 1.4em;
        width: 1.8em;
        text-align: center;
        padding: 0.25em 0.25em 0.25em 0.25em;
        color: #888888;

        .fa-ban {
            font-size: 0.55em;
            position: absolute;
            right: 0.5em;
            bottom: 0.65em;
            height: 1em;
            color: #993333;
        }

        .fa-arrow-up, .fa-caret-up {
            font-size: 0.5em;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0.165em;
            margin: auto;
            height: 1em;
        }

        .fa-refresh {
            color: #333333;
            transform: translate(0, 0.1em);
        }

        .fa-warning {
            color: #333333;
            transform: translate(0, 0.2em);
        }
    }
}
