.settings-panel.diagnostics {
    .diagnostics-section {
        .title {
            font-weight: bold;
            padding: 0.25em 0.25em 0.25em 0;
            cursor: pointer;
        }

        .collapsible-contents {
            padding: 0.25em 0.25em 0.25em 0.25em;
            max-height: 50vh;
            overflow: auto;
        }

        .collapsible-container {
            border: 1px solid transparent;
            transition: height .25s, border-color 0.2s;
        }

        PRE {
            border-bottom: 1px dotted #cccccc;
            padding-bottom: 0.5em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;

            &:last-child {
                border-bottom: 0;
            }
        }

        &.open {
            color: #eeeeee;

            .collapsible-container {
                border-color: #eeeeee;
            }
        }
    }

    &.remote-data-source {
        .recent-search-table {
            border-collapse: collapse;
            border-style: hidden;
            table-layout: fixed;
            width: 50em;
            margin: -0.25em -0.25em -0.25em -0.25em;

            TR {
                .updating {
                    background-color: #119911;
                }

                .dirty {
                    background-color: #991111;
                }
            }

            TH, TD {
                border: 1px solid #666666;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 0.8em;
                padding: 0.2em 0.2em 0.2em 0.2em;

                &.time {
                    width: 8%;
                }

                &.schema {
                    width: 10%;
                }

                &.table {
                    width: 15%;
                }

                &.criteria {
                    width: 30%;
                }

                &.objects {
                    width: 15%;
                }

                &.by {
                    width: 22%;
                }
            }

            TD {
                &.time, &.objects {
                    text-align: right;
                }
            }
        }

        .recent-storage-table {
            border-collapse: collapse;
            border-style: hidden;
            table-layout: fixed;
            width: 50em;
            margin: -0.25em -0.25em -0.25em -0.25em;

            TH, TD {
                border: 1px solid #666666;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 0.8em;
                padding: 0.2em 0.2em 0.2em 0.2em;

                &.time {
                    width: 8%;
                }

                &.schema {
                    width: 10%;
                }

                &.table {
                    width: 15%;
                }

                &.objects {
                    width: 45%;
                }

                &.by {
                    width: 22%;
                }
            }

            TD {
                &.time {
                    text-align: right;
                }
            }
        }
    }

    &.payload-manager {
        .file-size {
            float: right;
        }
    }
}
