.settings-panel.project {
    .body {
        padding-left: 0.5em;
        min-height: 9.4em;
    }

    .project-option-button {
        display: table;
        color: #666666;
        margin-top: 0.35em;
        margin-bottom: 0.35em;
        cursor: pointer;

        &.selected, &:hover {
            color: #eeeeee;
        }

        &.selected {
            cursor: default;
        }

        .icon {
            display: table-cell;
            width: 1em;
            padding-right: 0.25em;
            font-size: 1.4em;
        }

        .text {
            display: table-cell;

            .name {
                font-size: 1.4em;
            }

            .supplemental {
                margin-top: 0.5em;
                margin-bottom: 0.15em;

                .item {
                    margin-bottom: 0.35em;

                    .button {
                        color: #999999;
                        &:hover {
                            color: #eeeeee;
                        }
                        cursor: pointer;

                        .fa {
                            margin-right: 0.15em;
                        }

                        .label {
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
    }
}
